@use '../../dots';

.root {
	@include dots.left;
	
	padding: 150px 60px 95px;
	text-align: center;
	background: #1486e7;
}

.title {
	font-size: 56px;
	font-weight: 900;
	line-height: 64px;
	color: white;
}

.description {
	max-width: 768px;
	margin: 32px auto 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 26px;
	color: white;
	opacity: 0.9;
}
