.root {
	padding: 50px 0;
}

.filters {
	$spacing: 16px;
	
	display: grid;
	grid: 1fr / repeat(5, 1fr);
	gap: $spacing;
	max-width: 1000px + $spacing * 2;
	margin: 0 auto;
	padding: 0 $spacing;
}

.tiers {
	max-width: max-content;
	margin: 50px auto 0;
}
