$spacing: 16px;
$card-width: 280px;

@mixin color($color, $background) {
	--tier-color: #{$color};
	--tier-background: #{$background};
}

.bronze { @include color(#d47e12, transparentize(#f7e5cf, 0.6)); }
.silver { @include color(#98abb4, transparentize(#98abb4, 0.86)); }
.gold { @include color(#f3b500, #fef7e4); }
.platinum { @include color(#4d6a82, #e7f0f6); }

.root {
	display: grid;
	grid: 1fr / #{$card-width};
	grid-auto-rows: 1fr !important;
	gap: $spacing;
	
	@media (min-width: 615px) {
		grid: 1fr / repeat(2, $card-width);
	}
	
	@media (min-width: 1200px) {
		grid: 1fr / repeat(4, $card-width);
	}
	
	& + & {
		margin-top: $spacing;
	}
}
