.root {
	display: flex;
	flex-direction: column-reverse;
	max-width: 1000px;
	margin: 0 auto;
	
	@media (min-width: 700px) {
		flex-direction: row;
	}
}

.article {
	& + & {
		margin-top: 30px;
		
		@media (min-width: 800px) {
			margin-top: 50px;
		}
	}
}

.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 900;
	color: #1486e7;
}

.articleContent {
	color: #949494;
}

.aside {
	flex-shrink: 0;
	display: grid;
	grid: auto auto / 1fr;
	gap: 15px;
	margin: 0 0 15px;
	
	@media (min-width: 400px) {
		gap: 20px;
		margin: 0 0 20px;
	}
	
	@media (min-width: 500px) {
		gap: 30px;
		margin: 0 0 30px;
	}
	
	@media (min-width: 600px) {
		grid: 1fr / 1fr 1fr;
	}
	
	@media (min-width: 700px) {
		display: block;
		width: 300px;
		margin: 0 0 0 30px;
	}
	
	@media (min-width: 800px) {
		width: 375px;
	}
	
	@media (min-width: 1000px) {
		margin: 0 0 0 100px;
	}
}

.info {
	padding: 25px;
	background: #ebf5fd;
	border-radius: 12px;
	
	@media (min-width: 800px) {
		padding: 40px 35px;
	}
}

.infoTitle {
	font-size: 24px;
	font-weight: 900;
	color: #636363;
}

.rows {
	margin-top: 24px;
	padding: 16px;
	background: white;
	border-radius: 8px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.key {
	margin-right: 8px;
	text-transform: uppercase;
	font-size: 12px;
	color: #949494;
}

.value {
	color: #555;
}

.divider {
	height: 1px;
	margin: 12px 0;
	background: #1486e7;
	opacity: 0.24;
}

.price {
	margin-top: 16px;
	padding: 24px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #636363;
	background: white;
	border-radius: 8px;
}

.scheduleLink {
	display: block;
	margin-top: 16px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: 900;
	color: white;
	background: #1486e7;
	border: 2px solid #1486e7;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	&:hover,
	&:focus {
		color: #1486e7;
		background: white;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.gift {
	padding: 25px;
	text-align: center;
	border: 3px solid #f2f2f2;
	border-radius: 12px;
	
	@media (min-width: 700px) {
		margin-top: 30px;
	}
	
	@media (min-width: 800px) {
		padding: 32px;
	}
}

.giftMessage {
	margin-top: 16px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #949494;
}

.giftMessageLink {
	color: #1486e7;
	transition: opacity 0.3s;
	
	&:hover,
	&:focus {
		opacity: 0.7;
	}
}
