.root {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
}

.article {
	& + & {
		margin-top: 50px;
	}
}

.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 900;
	color: #1486e7;
}

.articleContent {
	color: #949494;
}

.aside {
	flex-shrink: 0;
	width: 375px;
	margin-left: 100px;
}

.gift {
	padding: 32px;
	text-align: center;
	border: 3px solid #f2f2f2;
	border-radius: 12px;
}

.giftMessage {
	margin-top: 16px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color: #949494;
}

.giftMessageLink {
	color: #1486e7;
	transition: opacity 0.3s;
	
	&:hover,
	&:focus {
		opacity: 0.7;
	}
}
