@use '../../spinner' as *;

.value {
	--padding: 0px;
	
	display: block;
	padding: var(--padding) 0;
	color: #555;
	
	@media (min-width: 700px) {
		--padding: 15px;
		
		display: table-cell;
		font-size: 14px;
	}
	
	@media (min-width: 750px) {
		--padding: 30px;
	}
	
	@media (min-width: 850px) {
		font-size: 16px;
	}
	
	&:first-child {
		padding-left: var(--padding);
	}
	
	&:last-child {
		padding-right: var(--padding);
	}
}

.days {
	@media (min-width: 700px) {
		text-transform: capitalize;
	}
	
	&::before {
		content: 'Every ';
		
		@media (min-width: 700px) {
			content: none;
		}
	}
}

.start::before {
	content: 'Starts ';
	
	@media (min-width: 700px) {
		content: none;
	}
}

.instructorLinkContainer::before {
	content: 'Taught by ';
	
	@media (min-width: 700px) {
		content: none;
	}
}

.instructorLink {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #1486e7;
	transition: transform 0.3s;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.enrollContainer {
	--width: 120px;
	--left-padding: 0px;
	
	width: calc(var(--width) + var(--left-padding));
	
	@media (min-width: 700px) {
		--width: 100px;
		--left-padding: 20px;
	}
	
	@media (min-width: 750px) {
		--left-padding: 40px;
	}
	
	@media (min-width: 800px) {
		--width: 120px;
	}
	
	@media (min-width: 900px) {
		width: auto;
	}
}

.enrollInnerContainer {
	width: var(--width);
	margin-left: auto;
}

.enrollButton {
	--color: #1486e7;
	
	width: 100%;
	padding: 8px 0;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: var(--color);
	background: white;
	border: 1px solid #d8ebfb;
	border-radius: 6px;
	transition: color 0.3s, background 0.3s, border-color 0.3s, transform 0.3s;
	
	&:not(.enrollButtonFull):not(.enrollButtonLoading) {
		&:hover,
		&:active {
			--color: white;
			
			background: #1486e7;
			border-color: #1486e7;
		}
		
		&:active {
			transform: translateY(2px);
		}
	}
}

.enrollButtonFull,
.enrollButtonLoading {
	cursor: default;
}

.enrollButtonFull {
	text-transform: uppercase;
	color: #949494;
	background: #f2f2f2;
	border-color: #f2f2f2;
}

.enrollSpinner {
	@include spinner(16px, 3px, var(--color));
	
	margin-bottom: -2px;
	transition: border-color 0.3s;
}

.enrollMessage {
	margin-top: 6px;
	text-align: center;
	font-size: 14px;
	color: #555;
}

.spots {
	font-weight: bolder;
	color: #e35050;
}
