@use '../../spinner' as *;

.value {
	$padding: 30px;
	
	padding: $padding 0;
	color: #555;
	
	&:first-child {
		padding-left: $padding;
	}
	
	&:last-child {
		padding-right: $padding;
	}
}

.days {
	text-transform: capitalize;
}

.instructorLink {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #1486e7;
	transition: transform 0.3s;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.enrollContainer {
	width: 120px;
	margin-left: auto;
}

.enrollButton {
	--color: #1486e7;
	
	width: 100%;
	padding: 8px 0;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: var(--color);
	background: white;
	border: 1px solid #d8ebfb;
	border-radius: 6px;
	transition: color 0.3s, background 0.3s, border-color 0.3s, transform 0.3s;
	
	&:not(.enrollButtonFull):not(.enrollButtonLoading) {
		&:hover,
		&:active {
			--color: white;
			
			background: #1486e7;
			border-color: #1486e7;
		}
		
		&:active {
			transform: translateY(2px);
		}
	}
}

.enrollButtonFull,
.enrollButtonLoading {
	cursor: default;
}

.enrollButtonFull {
	text-transform: uppercase;
	color: #949494;
	background: #f2f2f2;
	border-color: #f2f2f2;
}

.enrollSpinner {
	@include spinner(16px, 3px, var(--color));
	
	margin-bottom: -2px;
	transition: border-color 0.3s;
}

.enrollMessage {
	margin-top: 6px;
	text-align: center;
	font-size: 14px;
	color: #555;
}

.spots {
	font-weight: bolder;
	color: #e35050;
}
