$padding: 30px;

.root {
	max-width: 1000px;
	margin: 30px auto 0;
	
	@media (min-width: 800px) {
		margin: 50px auto 0;
	}
}

.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 900;
	color: #1486e7;
}

.table {
	width: 100%;
	border: 3px solid #f2f2f2;
	border-spacing: 0;
	border-radius: 12px;
}

.labels {
	background: #f2f2f2;
}

.label,
.value {
	&:first-child {
		padding-left: $padding;
	}
	
	&:last-child {
		padding-right: $padding;
		text-align: right;
	}
}

.label {
	padding: 16px 0;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #949494;
}

.row:nth-child(even) {
	background: #ebf5fd;
}

.value {
	padding: $padding 0;
	color: #555;
}

.link {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #1486e7;
	transition: transform 0.3s;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.button {
	width: 120px;
	padding: 8px 0;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #1486e7;
	background: white;
	border: 1px solid #d8ebfb;
	border-radius: 6px;
	transition: color 0.3s, background 0.3s, border-color 0.3s, transform 0.3s;
	
	&:hover,
	&:active {
		color: white;
		background: #1486e7;
		border-color: #1486e7;
	}
	
	&:active {
		transform: translateY(2px);
	}
}
