.root {
	min-height: 180px;
	padding: 24px;
	background: #ecf6fd;
	border-radius: 12px;
}

.title {
	font-size: 24px;
	font-weight: 900;
	color: #1486e7;
}

.description {
	margin-top: 12px;
	font-size: 16px;
	line-height: 23px;
}
