$padding: var(--padding);

.root {
	--padding: 15px;
	max-width: 800px;
	margin: 0 auto;
	
	@media (min-width: 600px) {
		--padding: 30px;
	}
	
	& + & {
		margin-top: 60px;
	}
}

.title {
	font-size: 32px;
	font-weight: 900;
	color: #1486e7;
}

.description {
	margin: 20px 0;
	line-height: 28px;
	color: #555;
	
	@media (min-width: 700px) {
		font-size: 20px;
		line-height: 32px;
	}
}

.table {
	width: 100%;
	border: 3px solid #f2f2f2;
	border-spacing: 0;
	border-radius: 12px;
}

.labels {
	background: #f2f2f2;
}

.label,
.value {
	&:first-child {
		padding-left: var(--padding);
	}
	
	&:last-child {
		padding-right: var(--padding);
		text-align: right;
	}
}

.label {
	padding: 16px 0;
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	color: #636363;
	
	@media (min-width: 600px) {
		font-size: 14px;
	}
}

.row:nth-child(even) {
	background: #ebf5fd;
}

.value {
	padding: var(--padding) 0;
	font-size: 12px;
	color: #555;
	
	@media (min-width: 450px) {
		font-size: 14px;
	}
	
	@media (min-width: 600px) {
		font-size: 16px;
	}
}

.link {
	display: inline-block;
	padding: 8px 12px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	color: #1486e7;
	background: white;
	border: 1px solid #d8ebfb;
	border-radius: 6px;
	transition: color 0.3s, background 0.3s, border-color 0.3s, transform 0.3s;
	
	@media (min-width: 550px) {
		padding: 8px 16px;
	}
	
	&:hover,
	&:active {
		color: white;
		background: #1486e7;
		border-color: #1486e7;
		
		.linkIcon {
			fill: white;
		}
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.linkIcon {
	vertical-align: middle;
	fill: #1486e7;
	transition: fill 0.3s;
	
	@media (min-width: 550px) {
		display: none;
	}
}

.linkText {
	display: none;
	
	@media (min-width: 550px) {
		display: block;
	}
}
