.root {
	margin-top: 60px;
	
	@media (min-width: 500px) {
		margin-top: 80px;
	}
}

.title {
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	line-height: 1.5;
	color: #333;
	
	@media (min-width: 500px) {
		font-size: 32px;
	}
}

.divider {
	$height: 3px;
	
	max-width: 64px;
	height: $height;
	margin: 35px auto;
	background: transparentize(#1486e7, 0.76);
	border-radius: $height / 2;
}
