.title {
	margin-bottom: 35px;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
	color: #1486e7;
}

.articles {
	display: grid;
	grid:
		'description requirements' auto
		'description compensation' 1fr /
		auto;
	gap: 40px;
}

.description {
	grid-area: description;
}

.requirements {
	grid-area: requirements;
}

.compensation {
	grid-area: compensation;
}

.subtitle {
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 900;
	color: #555;
}

.notice {
	margin-top: 50px;
	padding: 32px;
	text-align: center;
	font-size: 17px;
	color: #555;
	border: 3px solid #f2f2f2;
	border-radius: 12px;
}

.noticeLink {
	color: #1486e7;
	transition: opacity 0.3s;
	
	&:hover,
	&:focus {
		opacity: 0.7;
	}
}
