@use '../../dots';

.root {
	@include dots.right;
	
	display: flex;
	justify-content: center;
	padding: 100px 60px 120px;
}

.imageContainer {
	position: relative;
	
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: radial-gradient(#6bb8f5 25%, transparent 25%);
		background-size: 20px 20px;
		transform: translate(-20%, 18%);
		opacity: 0.3;
		z-index: -1;
	}
}

.image {
	$dimension: 215px;
	
	width: $dimension;
	height: $dimension;
	object-fit: cover;
	border-radius: 50%;
}

.aside {
	flex-shrink: 0;
	margin-right: 60px;
}

.contactLabel {
	display: block;
	margin: 60px 0 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	color: #949494;
	cursor: text;
}

.contactLinks {
	display: flex;
	justify-content: center;
}

.contactLink {
	transition: opacity 0.3s, transform 0.3s;
	
	&:hover {
		opacity: 0.5;
	}
	
	&:active {
		transform: translateY(2px);
	}
	
	& + & {
		margin-left: 8px;
	}
}

.main {
	max-width: 600px;
}

.name {
	font-size: 32px;
	color: #1486e7;
}

.bio {
	margin: 20px 0;
	font-size: 20px;
	line-height: 32px;
}

.infoContainer {
	padding: 30px;
	background: transparentize(#1486e7, 0.9);
	border-radius: 12px;
}

.info {
	padding: 20px 16px;
	background: white;
	border-radius: 12px;
}

.infoRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	& + & {
		$spacing: 16px;
		
		margin-top: $spacing;
		padding-top: $spacing;
		border-top: 1px solid transparentize(#1486e7, 0.76);
	}
}

.infoKey {
	margin-right: 8px;
	text-transform: uppercase;
	font-size: 13px;
	color: #949494;
}

.infoValue {
	font-size: 15px;
	color: #555;
}
