@use '../../dots';

.root {
	@include dots.right;
	
	padding: 60px 30px;
	
	@media (min-width: 450px) {
		padding: 80px 30px;
	}
	
	@media (min-width: 700px) {
		padding: 100px 60px;
	}
}

.title {
	text-align: center;
	font-size: 38px;
	font-weight: 900;
	color: #333;
	
	@media (min-width: 600px) {
		font-size: 48px;
	}
}
