*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Muli, Arial, Helvetica, sans-serif;
	border: none;
}

html {
	scroll-behavior: smooth;
}

body {
	overscroll-behavior: none;
}

button {
	cursor: pointer;
	
	&:disabled {
		cursor: default;
	}
}

pre,
code {
	font-family: monospace;
	font-size: larger;
	font-weight: bold;
}
