@use '../../dots';

.root {
	@include dots.right;
	
	padding: 60px 15px 120px;
	
	@media (min-width: 500px) {
		padding: 60px 30px 120px;
	}
	
	@media (min-width: 800px) {
		padding: 60px 60px 120px;
	}
}

.article {
	max-width: 800px;
	margin: 0 auto;
}
