$padding: 16px;

.root {
	background: transparentize(#1486e7, 0.9);
}

.container {
	display: flex;
	align-items: center;
	overflow-x: auto;
	max-width: max-content;
	margin: 0 auto;
	padding: $padding;
}

.link,
.divider,
.title {
	flex-shrink: 0;
}

.link {
	text-decoration: none;
	color: #1486e7;
	transition: transform 0.3s;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.divider {
	margin: 0 12px;
	fill: #1486e7;
}

.title {
	padding-right: $padding;
	color: transparentize(#333, 0.5);
}
