@use '../dots';

.root {
	@include dots.left;
	
	display: flex;
	height: 570px;
	background: url('../../images/description.png') right no-repeat;
	background-size: contain;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 600px;
	padding: 0 80px 0 140px;
	background: #1486e7;
}

.content {
	position: relative;
	max-width: 400px;
}

.description {
	font-size: 24px;
	line-height: 32px;
	color: white;
}

.popUp {
	position: absolute;
	width: max-content;
	padding: 45px 135px;
	right: 0;
	bottom: 100px;
	background: white;
	border-radius: 12px;
	transform: translate(100%, 100%);
}

.popUpText {
	font-size: 22px;
	line-height: 38px;
	color: #111;
}

.faq {
	margin-top: 24px;
	padding: 12px 18px;
	font-size: 18px;
	font-weight: 900;
	color: #1486e7;
	background: white;
	border: 2px solid white;
	border-radius: 8px;
	outline: none;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	&:hover,
	&:focus {
		color: white;
		background: #1486e7;
	}
	
	&:active {
		transform: translateY(2px);
	}
}

.imageContainer,
.image {
	height: 100%;
}
