@use '../dots';

.root {
	@include dots.left;
	
	padding: 120px 20px 65px;
	text-align: center;
	background: #1486e7;
	
	@media (min-width: 450px) {
		padding: 150px 30px 95px;
	}
	
	@media (min-width: 600px) {
		padding: 150px 60px 95px;
	}
}

.title {
	font-size: 36px;
	font-weight: 900;
	line-height: 44px;
	color: white;
	
	@media (min-width: 350px) {
		font-size: 42px;
		line-height: 50px;
	}
	
	@media (min-width: 400px) {
		font-size: 50px;
		line-height: 58px;
	}
	
	@media (min-width: 450px) {
		font-size: 56px;
		line-height: 64px;
	}
}

.description {
	max-width: 768px;
	margin: 32px auto 0;
	font-weight: bold;
	line-height: 26px;
	color: white;
	opacity: 0.9;
	
	@media (min-width: 450px) {
		font-size: 18px;
	}
}
