.root {
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	padding: 24px 35px;
	z-index: 10;
	
	@media (min-width: 550px) {
		padding: 24px 65px;
	}
	
	@media (min-width: 1000px) {
		padding: 24px 145px;
	}
}

.logo,
.menu {
	transition: transform 0.3s;
	
	&:active {
		transform: translateY(2px);
	}
}

.logo {
	height: 94px;
}

.menu {
	background: transparent;
}

.menuIcon {
	height: 20px;
	color: #3a3a3a;
}

.lightMenuIcon {
	color: white;
}
