.root {
	padding: 65px 45px;
	background: transparentize(#1486e7, 0.9);
	
	@media (min-width: 600px) {
		padding: 65px;
	}
	
	@media (min-width: 630px) {
		padding: 85px;
	}
}

.title {
	text-align: center;
	font-size: 26px;
	color: #1486e7;
	
	@media (min-width: 550px) {
		font-size: 32px;
	}
}

.form {
	display: flex;
	max-width: 635px;
	height: 70px;
	overflow: hidden;
	margin: 30px auto 0;
	background: white;
	border: 2px solid #d2eafc;
	border-radius: 8px;
}

.input {
	flex-grow: 1;
	min-width: 0;
	padding: 0 24px;
	font-size: 15px;
	color: #333;
	outline: none;
	
	&::placeholder {
		color: #777;
	}
}

.button {
	$margin: 4px;
	
	margin: $margin $margin $margin 0;
	padding: 0 24px;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background: #1486e7;
	border: 2px solid #1486e7;
	border-radius: 4px;
	outline: none;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	@media (min-width: 500px) {
		padding: 0 44px;
	}
	
	&:hover,
	&:focus {
		color: #1486e7;
		background: white;
	}
	
	&:active {
		transform: translateY(2px);
	}
}
